.botaopesquisa {
    width: 100%;
}

.botao {
    width: 15%;
    float: left;
}

.pesquisa {
    width: 85%;
    float: right;
}

.form-control {
    border-radius: 0%;
}

.btn-menu {
    border-radius: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

#form-addaluno {
    display: none;
}

#btn-addAluno {
    float: center;
}